# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. numpy
4. scikit_learn

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebooks |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hour=minutes/60
print(hour)

3.3333333333333335

Objectives:
- Saw about the DSlanguages 
- Saw about basic arithmetic expression
- went through the open Source tools

## Author
Navheen